body {
  margin:0;
}

h1 {
  font-size: 5vw;
}
h2 {
  font-size: 5.7vw;
}
h4 {
  font-size: 3.4vw;
}
p {
  font-size: 5vmin;
}

li {
  font-size: 3vmin;
}

div {
  font-family: 'proxima-nova', arial, sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

#navbar div header {
  text-align: center;
  background: #f5f2f0;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5d2d0;
}

#navbar #nav {
  display: flex;
  flex-direction: column;
  background: #f5f2f0;
  height: 160px;
  padding: 0 20px;
  overflow: scroll;
}

.nav-link {
  color: #696664;
  max-width: 100%;
  padding: 10px 0 10px 0;
  text-decoration: none;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.nav-link:hover {
  color:#ba1000;
}

.container {
  text-align: left;
  padding: 0 20px;
}

.main-section h1 {
  font-size: 34px;
}

.main-section img {
  max-width: 100%;
  height: auto;
}


@media screen and (min-width: 330px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }
}

@media screen and (min-width: 640px) { 
  .container-fluid {
    flex-direction: row;
  }
  nav {
    position:fixed;
  }
  #navbar div header {
    text-align: left;
    background: #f5f2f0;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #d5d2d0;
    min-width:220px;
    max-width:220px;
    top:0px;
    left:0px;
  }
  
  #navbar #nav {
    display: flex;
    flex-direction: column;
    background: #f5f2f0;
    border-right: 1px solid #d5d2d0;
    padding: 0 20px;
    overflow: hidden;
    min-height: 100vh;
    min-width:220px;
    max-width:220px;
    top:0px;
    left:0px;
  }
  
  .container {
    max-width: 1300px; 
    margin-left: 260px;
    padding: 0 20px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}