body {
  margin:0;
}

div {
  font-family: 'proxima-nova', arial, sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  z-index: 10;
}
#navbar {
  display: flex;
  justify-content: space-around;
  position: inherit;
  width:100%;
}

.nav-link {
  color: #3e3e3e;
  font-weight: bold;
  max-width: 100%;
  padding: 10px 0 10px 0;
  text-decoration: none;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.nav-link:hover {
  color:#ba1000;
}

#welcome-section {
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  background: lightgrey;
  height: 100vh;
  max-height: 100vh;
}

#welcome-section h1 {
  padding-top: 60px;
}

#meet-mar {
  padding-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightgrey {
  background: lightgrey;
}

.bookingSection {
  position: relative;
  overflow: hidden;
  padding-top: 16px;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#profile {
  padding: 20px;
}
#profile-link {
  font-size: 48px;
  color: #696664;;
  text-decoration: none;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

#profile-link:hover {
  color:#ba1000;
}

#to-top {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right:0;
}

@media only screen and (min-width: 640px) {

}
