body {
  margin:0;
}

div {
  font-family: 'proxima-nova', arial, sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  z-index: 10;
}
#navbar {
  display: flex;
  justify-content: space-around;
  
  position: inherit;
  width:100%;
}

.nav-link {
  color: #3e3e3e;
  font-weight: bold;
  max-width: 100%;
  padding: 10px 0 10px 0;
  text-decoration: none;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.nav-link:hover {
  color:#ba1000;
}

#welcome-section {
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  background: lightgrey;
  height: 100vh;
  max-height: 100vh;
  
}

#welcome-section h1 {
  padding-top: 60px;
}

#meet-mar {
  padding-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booking-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  text-align: center;
  background: lightgrey;
  height: 100vh;
  max-height: 100vh;
}

#book-now {
  display: flex;
  flex-direction: column;
}

label:nth-child(odd) {
  
}

label {
  background-color: #e3e3e3;
  margin-bottom: 20px;
  font-size: 5vw;
}

input {
  background-color: #e3e3e3;
  font-size:5vw; 
  border: none;
}

#profile {
  padding: 20px;
}
#profile-link {
  font-size: 48px;
  color: #696664;;
  text-decoration: none;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

#profile-link:hover {
  color:#ba1000;
}

#submit {
  display: block;
  cursor:pointer;
  color: black;
  margin: auto;
  width: 200px;
  background-color: transparent;
  box-shadow: 1px 1px 2px #ba1000;
  padding: 10px 20px 10px 20px;
  border: 4px solid grey;
  font-size: 18px;
  font-family: "Open Sans",arial,x-locale-body,sans-serif;
  -webkit-transition: box-shadow .3s, background-color .3s; /* Safari */
   transition: box-shadow .3s, background-color .3s;
}
#submit:hover {
  box-shadow: 0px 0px 0px #888888;
  background-color: #lightgrey;
  color:#ba1000;
}

#to-top {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right:0;
}

@media only screen and (min-width: 848px) {
  #contact-form {
  display: block;
  }
  label {
  margin-left: 20px;
  font-size: 22px;
  }
  input {
  font-size:22px; 
  }
  #submit {
    margin-top: 20px;
  }
} 