html, body {
  height: 100%;
  margin:0;
}
body {
  background-image: url("./img/cabinetcontemporary.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  position: relative;

  overflow: hidden;
}

#main-element {
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 140vw;
  height: auto;
  max-height: 700px;
}

.socialIcons {
 display:flex;
 position: absolute;
 bottom:6%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.socialIcons a {
  color: white;
  font-size: 8vw;
}

.socialIcons a:nth-child(1) {
  margin-right: 15px;
}

.socialIcons a:nth-child(2) {
  margin-left: 15px;
}

#photocredit {
  position: fixed;
  max-width: 300px;
  bottom: 10px;
  right: 10px;
}

@media only screen and (min-width: 550px) {
  .socialIcons {
   display:flex;
   position: absolute;
   bottom:4%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  .socialIcons a {
    font-size: 48px;
  }
}

@media only screen and (min-width: 700px) {
  .socialIcons a {
    font-size: 48px;
  }
}
/*
.wrapper {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

#main-element {
  max-width: 100%;
  height: auto;
}

#main {
  position:relative;
}

.socialIcons {
  position: absolute;
  display: flex;
  bottom: 8%;
  left: 41%;
}

.socialIcons a {
  color: white;
  font-size: 44px;
  margin-left: 10px;
  margin-right: 10px;
}

#photocredit {
  max-width: 50%;
  height: auto;

}

/* Small devices (phones, 883px and down)
@media only screen and (max-width: 875px) {
  .socialIcons a {

    font-size: 5vw;
    margin-left: 10px;
    margin-right: 10px;
  }
}
*/
